/* CSS declarations go here */

.rectangle {
	height: 100px;
	width: 100px;
	background-color: #3d9970;
	margin: 0 auto;
	border: 1px solid red;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	font-size: 300%;
}